
<div class="text-center">
<h2>


<%= current_user.first_name %>  <%= current_user.last_name %>'s profile!



</h2>



<div class="bio">
<h3>
Your bio: </h3>

<p>
  <%= current_user.profile.bio %>

</p>


</div>
</div>
