<div class="color-padding-sm"></div>
<div class="banner-image"></div>

<div class="blog-banner">
  <div class="container">
    <div class="row">

      <% @blogs.each do |blog| %>
      <div class="card-blog col-sm-12 col-md-6 col-lg-6">
        <h1><%= link_to blog.title, blog_path(blog) %></h1>
        <p><%= link_to blog.intro, blog_path(blog) %></p>
        <%= link_to "read more..", blog_path(blog)%>
      </div>
      <% end %>
    </div>
  </div>
</div>
