<div class="backgroundImage" style="background-image: url('error_message_thunder.jpg');">
</div>
<div class="row">
<div class="container">
  <%= link_to 'Sign up',  new_user_registration_path, class: "button-log button-adjust" %>
</div>
</div>

