@import url('https://fonts.googleapis.com/css?family=Quicksand');


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 15;
}

nav .top-nav {
  background-color: #fff;
  color: blue;

}

nav .logo-container {
  height: 60px;
}
nav .top-nav ul {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}
nav .top-logo-nav {
 height: 140px;
 width: 140px;
 position: relative;
 top: 40px;
 left: 150px;
}
nav .logo-nav {
  height: 110px;
  width: 110px;
}

nav .navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  line-height: 100px;
}

nav ul li {
  list-style: none;
}


.bottom-nav {
  background-color: #fff;
  width: 100%;
  height: 100px;
}


nav .avatar-nav {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin-right: 15px;
}

.button-navbar a {
  border: 2px solid #EE7D9A;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #EE7D9A;
  font-family: "Quicksand";
  transition-timing-function: ease-in-out;
 transition: 1s;
}

.button-navbar a:hover {

 background-color: #c85b5b;
}

.font {
  font-family: "Quicksand";
  color: #333;
}

span .font:hover {
  transition: color 0.3s ease;
  color: #EE7D9A;
}

nav span {
  margin-right: 30px;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -36px;
  right: 10px
}

.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.mobile-avatar {
  width: 70px;
  border-radius: 50%;
  height: 70px;
}

.logo-mobile-nav {
  height: 90px;
  width: 90px;
  position: relative;
  top: 45px;
  right: -10px;
}
