
//////////////  ALLROUND STYLING CLASSES FOR THE APP  /////////////

.card {
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 3px
}

a:hover {
  text-decoration: none;

}
