// ALLROUND STYLING CLASSES
@import url('https://fonts.googleapis.com/css?family=Quicksand');


.avatar-linkedin {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin-right: 15px;
}


.footer-white h3 {
  color: white;
}

.card {

  border-radius: 3px;
  padding: 40px;
  margin: 10px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-blog h1{
  font-family: "Quicksand";
}

.card-blog {
  text-decoration:none;
  color: #333333;
}

.card-blog:hover {
 transition-timing-function: ease-in-out;
 transition: 1s;
 color: #88C48D;
}

.card-blog {
  border-radius: 3px;
  padding: 40px;
  margin: 10px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand";
}

.form-chat {
  padding: 40px;
  margin: 10px;
  width: 550px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overallcontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100%-100px);
  background-size: cover !important;
  background-image: image-url('pink_rice.png');

}

a:hover {
  text-decoration: none;
}

.blog-banner h1 {
  font-family:"Quicksand";
}

.blog-banner h4 {
  font-family:"Quicksand";
}
// @KITTY re position the blog-banner class
.blog-banner {
  font-family: "Quicksand";
  padding-bottom: 50px;
  // background-image: image-url('cloud.png');
  // background-size: 150px;
  color: #333333; //<- blog-card Titles
  // padding-top: 75px;
  // text-align: center;
}

// .blog-banner h1 {
//   margin-bottom: 25px;
// }
// ///////////////////////////////////////////

.color-padding {
  height: 500px;
  background-color: #88CED9;
  padding-top: 47px;
}

.color-padding-sm {
  height: 50px;
  background-color: #88CED9;
}

.banner-general {
  // background-image: image-url('cloud.png');
  // background-size: cover !important;
  color: #333333; //<- blog-card Titles
  padding-top: 75px;
  text-align: center;

  // height: 100vh; <--- watch out with 100vh = 100% screen size! sometimes u need more.
  height: 800px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-general h3 {
  // width: 30%;
  font-family: "Quicksand";
}



// .card a = styling home page knoppen.
.banner-general .card a {
  border-bottom: 2px solid #333;
  padding: 20px;
  color: #333;
  font-size: 23px;
  color: white;
  font-family: "Quicksand";
  font-weight: 400;
  width: 450px;
  margin-bottom: 21px;
  background-color: #EE7D9A;
  border: 1px solid #EE7D9A;
  text-shadow: 0px 2px 3px #222;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.17);
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.banner-general .card:hover {
  // font-size: 21px;
  transition-timing-function: ease-in-out;
  transition: 1s;
  // background-color: #88a1d9;
  text-decoration: none;
}

.banner-general a:hover {
  // font-size: 21px;
  background-color: #c85b5b;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.banner-general a {
  border-bottom: 2px solid #333;
  padding: 20px;
  color: #333;
  font-size: 20px;
}

.banner-general h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}

.banner-general h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.banner-general p {
  font-size: 17px;
  font-weight: lighter;
  color: #222;
  margin-bottom: 20px;
}

.banner-image {
  background-image: image-url('cloud.png');
  background-size: cover !important;
  height: 150px;
  background-color: #88CED9;
}

