
//////////////  BANNER CSS FOR LIFEGOALS /////////////////////

.banner-life-goals {
  color: #333333;
  text-align: center;
  height: 100%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: image-url('pink_rice.png');
}

.banner-life-goals2 {
  color: #333333;
  text-align: center;
  height: 100%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: image-url('pink_rice.png');
}



.banner-life-goals h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.banner-life-goals p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-life-goals h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}

.banner-life-goals a {
  // border-bottom: 2px solid #333;
  // padding: 20px;
  color: #333;
  font-size: 20px;
}


.banner-life-goals2 a {
  border-bottom: 2px solid #333;
  padding: 20px;
  color: #333;
  font-size: 20px;
}


.banner-life-goals a:hover {
  font-size: 21px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.banner-life-goals2 a:hover {
  font-size: 21px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}


.banner-life-goals .card {
  width: 30%;
}




