// start banner
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

// animation banner- fix it
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}

.logo {
  widows: 150px;
  height: 150px;
  margin: 29px;
  margin-top: 40px;
}

.wrapper {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #88C48D;
  }
.padded1 {
    padding: 84px 0;
    background: #88C48D;
}
.text-center {
    text-align: center;

}
.p {
  margin-bottom: 50px;
}
.icons {
// margin-bottom: 500px;
font-family: 'Luckiest Guy', cursive;
color: white;
}

#howto-margin {
  margin-top: 35px;
  margin-bottom:40px;
}
// footer
#footer {
    background: #333333;
    padding: 40px 0;
    color: #CCCCCC;
    text-align: center;
  }

