// start banner
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.life-goals {
  padding: 50px;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

// animation banner- fix it
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}

.logo {
  widows: 150px;
  height: 150px;
  margin: 29px;
  margin-top: 40px;
}

.wrapper {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #88C48D;
}
.padded1 {
  padding: 84px 0;
  background: #88C48D;
}
.text-center {
  text-align: center;

}
.p {
  margin-bottom: 50px;
}
.icons {
// margin-bottom: 500px;
font-family: 'Luckiest Guy', cursive;
color: white;
}

#howto-margin {
  margin-top: 35px;
  margin-bottom:40px;
}
// footer
#footer {
  background: #88C48D;
  padding: 87px 0;
  color: #EE7D9A;
  text-align: center;
}

// unregister button
.paddedcancel{
  padding: 84px 0;
  font-size: 20px;
  background: #88C48D;
  color: white;
  background-size: cover !important;
  text-align: center;
  justify-content: center;
}

.paddedcancel h3{
  font-weight: bold;
  font-size: 30px;
}

.header-cloud {
  background-color: #88C48D;
  padding: 140px 0;
  text-align: center;
  color:white;
}

.banner-background {
  color: #2f2f2f;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color: #88C48D;
  background-size: cover !important;
  background-image: image-url("cloud.png");
  display: flex;
  align-items: center;
  justify-content: center;
}


#scratch-wrapper .imagery {
  height: 265px;
  }

#scratch-wrapper .image-fluid {
  margin-left: 20px;
}

#scratch-wrapper .content {
  text-align: center;
  margin-top: -210px;
  color: white;
  font-family: 'Quicksand', sans-serif
}

#scratch-wrapper .outer-container {
  padding: 170px 0;

}

.email {
  color: black
}

.button-log {
  margin-left: 10px;
  padding: 12px 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #88CED9;
  color: white;
  font-size: 14px;
  border: 2px solid #88CED9;
}
.button-log:hover {
  color: white;
  background: #EE7D9A;
  border-color: #EE7D9A;
  }

.headerhome h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size:400%;
}
.headerrest h2 h3{
 font-family: 'Quicksand', sans-serif;
}

.header-alinea p{
font-family: 'Quicksand', sans-serif
}


