//  BANNER CSS FOR LIFEGOALS
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.banner-life-goals .card {
  height: 260px;
  justify-content: center;
  border-radius: 3px;
  background-color: #88CED9;
  padding: 40px;
  margin: 10px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-life-goals {
  background-color: white;
  color: #333333;
  text-align: center;
  height: 100%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand";
}

.banner-life-goals a {
  border-bottom: 2px solid #333;
  padding: 20px;
  color: #333;
  font-size: 20px;
}


.banner-life-goals a:hover {
  font-size: 21px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

#life-goals-header .card {
  padding-bottom: 60px;
}

#life-goals-header h1 {
margin-bottom: 40px;
}



