.container-login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-size: cover !important;
  background-image: image-url('pink_rice.png');

}


.login-form{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // margin-top: 100px;
// position: relative;
// left:25%;
  width:40%;
  // padding:20px;
}
