.logincontainer{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin-top: 100px;
// position: relative;
// left:25%;
  width:40%;
  padding:20px;
}

.background-new {
  color: #333333;
  // text-align: center;
  width: 100vw;
  height: calc(100vh - 100px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  // background-size: cover;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-image: image-url('pink_rice.png');
}

ul {
  list-style: none;
  font-size: 20px;
  font-weight: normal;
  color: #333333;
  margin-bottom: 20px;
  padding-top: 20px;
  line-height: 90%;
  word-spacing: 2px;
  font-style: italic;
}

.loginheader-font h1{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

