.profile-edit-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.profile-edit-form {
  width: 600px;
  margin-top: 35px;
  padding: 20px;
}


.background-edit {
  color: #333333;
  width: 100vw;
  height: calc(100vh - 100px);
  background-image: image-url('pink_rice.png');
}

