.profile h2 {
  // margin-top: 40px;
  // background-color: #fcfcfc;
  padding: 50px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  font-size: 50px;
  color: #88CED9;
}

.profile h3 {
  line-height: 40%;
  color:#333333;
}
