
<section id="life-goals-header">
  <div class="row">
    <div class="banner-container">
    <div class="color-padding">
      <div class="banner-general">
        <h1 class= "font" >Life Goals</h1>
        <div class="card">
          <% @life_goals.each do |life_goal| %>
          <%= link_to life_goal.name, life_goal_path(life_goal) %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
