
<section id="life-goals-header">
  <div class="row">
    <div class="banner-container">
      <div class="banner-life-goals">
          <h1><%= @life_goal.name %></h1>
          <h2><% @challenges.each do |challenge| %>
          <%= challenge.name %></h2>
          <div class="card">
          <%= challenge.description %>


          <%= link_to "sign up for this challenge", new_challenge_achievement_path(challenge) %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
