
  <div class="banner-life-goals">
<!--     <div class="banner-container">
 --><!--       <div class="banner-life-goals">
 -->        <h1><%= @life_goal.name %></h1>
<!--        <div class="card">
 -->       <% @challenges.each do |challenge| %>
<br/>
<br/>

             <h2><%= challenge.name %> </h2>
          <%= challenge.description %>

            <%  if current_user.challenges.include?(challenge)%>


            <h3>You are already signed up!</h3>

            <% else %>
            <h3>
            <%= link_to "sign up for this challenge", new_challenge_achievement_path(challenge) %></h3>
<!--  </div>
 -->            <% end %>
<br/>
<br/>

            <% end %>


      <!--   </div> -->
<!--       </div>
 -->    </div>
