
<section id="life-goals-header">
  <div class="row">
    <div class="banner-container">
      <div class="banner-life-goals">
          <%= @life_goal.name %>
          <% @challenges.each do |challenge| %>
          <%= challenge.name %>
          <div class="card">
          <%= challenge.description %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
