
<section id="life-goals-header">
  <div class="row">
    <div class="banner-container">
      <div class="banner-life-goals">
        <h1><%= @life_goal.name %></h1>
        <h2><% @challenges.each do |challenge| %>

            <%= link_to challenge.name, challenge_path(challenge)  %>

          </h2>
          <div class="card">
            <h4><%= challenge.description %></h4>

            <%  if current_user.challenges.include?(challenge)%>

            <br/>
            <h3>You are already signed up!</h3>


            <% else %>




            <%#= simple_form_for [challenge, @achievement] do |f| %>
            <%#= f.input :startdate, placeholder: "dd-mm-yyyy", label: "On which day do you want to start this challenge?" %>
            <%#= f.input :enddate, placeholder: "dd-mm-yyyy", label: "On which day do you want to end this challenge?" %>
            <%#= f.submit "start this challenge", class: "btn btn-primary" %>
            <%# end %>
            <%= link_to "sign up for this challenge", new_challenge_achievement_path(challenge) %>

            <% end %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </section>
