.edit-field {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-form {
  width: 500px;
  margin-top: 35px;
  background-color: #fcfcfc;
  padding: 20px;
  margin: auto;
}


.edit-field h2, h3 {
  margin-bottom: 20px;
}
